table th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  background-color: #764abc;
  color: white;
}

.alignButton {
  margin: 5px;
  border: none;
  color: #764abc;
  border-radius: 17%;
}
